[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest = "*"
requests = "*"
lxml = "*"
pandas = "*"
"ruamel.yaml" = "*"
keyring = "*"
keyring-jeepney = "*"
"urllib3" = "*"
cryptography = "*"

[requires]
python_version = "3.5"
