[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ls-report-agent = {editable = true, path = "."}
pytest = "*"

[packages]
requests = "==2.31.0"
lxml = "*"
pandas = "*"
cryptography = "*"

[requires]
python_version = "3.10.8"
